@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Regular.woff2);
    font-weight: 500;
}
@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Bold.woff2);
    font-weight: 700;
}
@font-face{
    font-family: Nunito;
    src:url(/fonts/Nunito-SemiBold.woff2);
    font-weight: 600;
}
@font-face{
    font-family: Nunito;
    src:url(/fonts/Nunito-ExtraBold.woff2) format('woff2');
    font-weight: 800;
}

$primary-color: #E12A41;

dl,
ol,
ul {
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    li{
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #E12A41;
}

h1 {
    padding: 10px 0;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

body {
    background-color: #F8F8F8;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.fixed {
    width: 100%;
    min-height: 80px;
    position: fixed;
    z-index: 99;
    // box-shadow: 0 0 6px #333;
}

.inner {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;

    .inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .header-logo{
            img{
                max-height: 90px;
            }
        }
        .h-r {
            ul {
                align-items: center;
                li {
                    margin: 0 20px;
                    list-style-type: none;

                    a {
                        font-weight: 700;
                        font-size: 16px;
                        color: #333333;
                    }

                    a:hover {
                        color: #E12A41;
                    }

                    a.active {
                        color: #E12A41;
                    }

                    span {
                        margin-left: 5px;
                    }
                }
            }

            button {
                width: 102px;
                height: 40px;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                color: #333333;
                border: 1.5px solid #333333;
                border-radius: 8px;
            }

            button.register {
                background-color: #ffffff;
                margin: 0 12px 0 24px;
            }

            button.login {
                background-color: #E12A41;
                border: none;
                color: #ffffff;
            }
        }
        .menu-mobile{
            .nav__bars-btn {
                display: none;
                width: 28px;
                height: 28px;
                color: #fff;
              }
              .nav__mobile {
                z-index:100;
                opacity: 0;
                transform: translateX(100%);
                transition: transform linear 0.3s, opacity linear 0.5s;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 320px;
                max-width: 100%;
                background-color: #fff;
                .nav_mobile_header {
                  border-bottom: 2px solid rgb(230, 230, 230);
                  line-height:36px;
                  img{
                      max-height: 90px;
                  }
                }
                .nav__mobile-list {
                  margin-top: 24px;
                  li {
                    line-height:40px !important;
                    padding-left: 20px;
                    list-style-type: none;
                    .nav__mobile-link {
                      text-decoration: none;
                      color: #333333;
                      display: block;
                      font-size: 16px;
                    }    
                    button {
                        width: 102px;
                        height: 40px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 18px;
                        color: #333333;
                        border: 1.5px solid #333333;
                        border-radius: 8px;
                    }
        
                    button.register {
                        background-color: #ffffff;
                        margin: 0 12px 0 24px;
                    }
        
                    button.login {
                        background-color: #E12A41;
                        border: none;
                        color: #ffffff;
                    }
                  }
                }
              }
              .nav__overlay {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
              }
              .nav__input {
                display: none;
              }
              .nav__input:checked ~ .nav__overlay {
                display: block;
              }
              .nav__input:checked ~ .nav__mobile {
                transform: translateX(0%);
                opacity: 1;
              }
        }
    }
}
//sử dụng trang home
.home-banner{
    overflow:hidden;
    padding-top:120px;
    background-image: url("/images/home/absoulute-bg-banner.png"),url("/images/home/bg-banner-2.png");
    background-repeat: no-repeat;
    background-position:2%,80% bottom;
    background-size: 400px 400px,850px 580px;
    min-height: 662px;
    background-color: $primary-color;
    .text-banner{
        color:#ffffff;
        .big-b{
            font-weight: 800;
            font-size:64px;     
        } 
        b{
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
        }
        .text-normal{
            font-weight: 600;
            font-size: 34px;
        }
        // b:not(.big-b){
        //     font-size: 40px;
        // }
        .banner-cal-intro{
            width: 100%;
            color:#ffffff;
            .h-title{
                padding-top:20px;
                text-align: center;
                font-size:24px;
                font-weight: 600;
                font-style: italic;
            }
            .cal-intro{
                .circle-item{
                    max-width:120px;
                    //cmt
                    .background {
                        fill: white;
                    }
            
                    .line {
                        fill: none;
                        stroke-width: 25;
                    }
            
                    .spinner{
                        transform: rotate(90deg);
                    }   
                    //cmt      
                    h6{
                        font-style: italic;     
                        text-align: center;   
                        font-size:18px;  
                        margin-top:20px;
                    }
                }
            }
        }
        .btn-trial-banner{
            height:52px;
            max-width: 220px;
            background: #EFBC08;
            border-radius: 8px;
            display:block;
            margin:50px auto;       
            text-align: center;
            line-height: 52px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            a{
                color:#ffffff;
                font-weight: 800;
                font-size:16px;
                height:100%;
            }
            a:hover{
                color:#E12A41;
            }
        }
    }
    .bg-phone{
        display:none;
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .btn-trial-mobile{
        display:none;
        height:52px;
        max-width: 220px;
        background: #EFBC08;
        border-radius: 8px;
        margin:0px auto 40px auto;
        color:#ffffff;
        font-weight: 800;
        font-size:16px;
        text-align: center;
        line-height: 52px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
.home-intro{
    overflow: hidden;
    background-color: #ffffff;
    background-image:url(/images/home/Background-hom-intro.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: padding-box;
    padding:10px 16px;
    .inner{
        padding:40px 0;
    }
    
    .h-i-left {
        .box {
            padding-top: 56.25%;
            width: 100%;
            position: relative;

            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .h-i-right {
        padding: 0 20px;
        margin-bottom: 40px;

        h2 {
            font-size: 36px;
            font-weight: 800;

            span {
                color: #E12A41;
            }
        }

        .box-right {
            display: none;
            padding-top: 56.25%;
            width: 100%;
            position: relative;

            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        .h-i-section {
            padding-bottom: 20px;
        }

        .h-i-item {
            font-size: 16px;
            font-weight: 600;
            color: #4F4F4F;
            margin-top: 20px;
        }
    }
    .btn-advise{
        width:200px;
        height:52px;
        background-color: #E12A41;
        border-radius: 8px;
        border:none;
        color:#ffffff;
        display:block;
        margin:0 auto;
        cursor: pointer;
        font-size:16px;
        font-weight: 800;
    }
}
.home-stuff{
    overflow: hidden;
    background-color: #F5F5F5;
    padding:40px 16px;
    h2{
        display:block;
        margin:0 auto;
        text-align: center;
        width: 58%;
        font-size:36px;
        font-weight: 800;
        span{
            color:#E12A41;
        }
        margin-bottom: 40px;
    }
    .stuff-item{
        margin:10px;
        height:264px;
        width: 264px;
        background-color:#ffffff;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 10px;
        transition:0.3s ease-in-out;
        text-align: center;  
        cursor: pointer;    
        img{
            width: 122px;
            height:122px;
            display:block;
            margin:0 auto;
        }
        h6{
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            width: 64%;
            display:block;
            margin:0 auto;
        }
    }
    .stuff-item:hover{
        transform: scale(1.03);
        border:1px solid #E12A41;
    }
}
.home-service-hot{
    overflow: hidden;
    padding:60px 0;
    background-color: #ffffff;
    h2{
        font-size:36px;
        font-weight: 800;
        text-align: center;  
        span{
            color:#E12A41;
        }
        margin-bottom: 20px;
    }
    .slider-service {
        .service-item {
            height: 200px;
            width: 200px;
    
            .s-i-frame {
                background-color: rgb(187, 187, 187);
                border: 1px solid #E0E0E0;
                border-radius: 8px;
                width: 170px;
                height: 170px;
                display: block;
                margin: auto;
                position: relative;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
    
                h5 {
                    position: absolute;
                    text-align: center;
                    color: #ffffff;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 32px;
                    font-weight: 800;
                }
            }
    
            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
            }
        }
    }
    
    .slick-dots li {
        transition: all 0.5s ease-in-out;
        width: 20px;
    }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        bottom: -40px;
    }
    
    .slick-dots li button:before {
        display: block;
        font-size: 0;
    }
    
    .slick-dots li button {
        background: #C4C4C4;
        display: block;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    
    .slick-dots li.slick-active {
        button {
            background: #E12A41;
            border-radius: 12px;
        }
    }
    .slick-prev{
        background: #D9D9D9;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        left: -50px;
    }
    .slick-next{
        background: #D9D9D9;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        right: -50px;
    }
    .slick-prev::before{
        content: url("/images/home/chevron-left.png");

    }
    .slick-next::before{
        content: url("/images/home/chevron-right.png");
    }
}
.home-pay-tutorial{
    overflow: hidden;
    background-color: #F5F5F5;  
    padding:60px 0;
    h2{
        font-size:36px;
        font-weight: 800;
        text-align: center;  
        width: 50%;
        display:block;
        margin:0 auto;
        margin-bottom: 40px;
        span{
            color:#E12A41;
        }
    }
    .img-step{
        object-fit: contain;
        height:468px;
        img{
            max-height:100%;
            width:100%;
            object-fit:contain;
            display:none;
        }
        img.active{
            animation: fadeIn 2s;
            display:block;
        }
    }
    .step{
        padding-top:10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-step{
        position: relative;
        .vertical_dotted_line
        {
            left:47px;
            position:absolute;
            border-left: 1px dashed #BDBDBD;
            height: 350px;
            z-index:-1;
        } 
    }
    .tut-step{
        min-height: 80px;
        z-index: 10;
        .circle-step{
            background:#ffffff;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #BDBDBD;
            text-align: center;
            line-height:48px;
            font-size:24px;
            font-weight: 700;
            color:#828282;
            box-sizing: border-box;
            // display:block;
            // margin:0 auto;

        }      
        p{
            background-color: #f8f8f8;
            padding-top:5px;
            display:none;
            width: 50px;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
            color:#E12A41;
            margin-bottom: 0 !important;
        }
        
        .step-detail{
            cursor: pointer;
            display:flex;
            flex-direction: column;
            justify-content:center;
            padding-left: 10px;
            box-sizing: border-box;
            border: 1px solid #E0E0E0;
            height:100%;
            font-size:16px;
            border-radius: 8px;
            font-weight: 700;
            color:#000000;
            min-height: 64px;
        }
      
    }
    .tut-step.active{
        .circle-step{
            cursor:default;
            box-shadow: 0px 0px 4px #FD6275;
            border:none;
            background-color: #E12A41;
            color:#ffffff;
        }
        .step-detail{   
            cursor: default;   
            background-color: #E12A41;     
            color:#ffffff;     
        }
        p{
            display:block;
        }
    }
    .footer-step-pay{
        margin-top:20px;
        h6{
            margin:0;
            font-size: 20px;
            font-weight: 700;
            color:#000000;
            span{
                color:#E12A41;
            }
        }
        .btn-GetNow{
            margin-left:20px;
            background: #FFC700;
            border-radius: 8px;
            height:42px;
            border:none;
            width: 142px;
            font-size: 16px;
            color:#333333;
            font-weight: 700;
            animation: btnGetNow .5s infinite alternate;
            a{
                display:block;
                text-align: center;
                line-height: 44px;
                text-transform: uppercase;
            }
        }
    }  
}
.home-eco{
    overflow: hidden;
    min-height: 500px;
    background-color: #ffffff;
    background-image: url(../images/home/bg-eco.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-clip: border-box;
    background-size: cover  ;
    padding:60px 0;
    h2{
        text-align: center;
        color:#333333;
        font-weight: 800;
        text-transform: uppercase;
    }
    .eco-statistical{
        padding:20px 0;
    }
    .eco-statistical-item{
        padding:20px 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        h5{
            margin-top:20px;
            font-size:50px;
            font-weight: 800;
            color:#E12A41;
        }
        h6{
            font-size:18px;
            color: #333333;
            font-weight: 600;
            line-height: 25px;
            text-align: center;
            width: 80%;
        }
    }
}
.home-contact-box{
    overflow: hidden;
    position: relative;
    background-image: url(../images/home/bg-contact.png);
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    padding:60px 0;
    background-color:#BF1D24;
    min-height: 520px;
    color:#ffffff;
    h3{
        font-size: 36px;
        font-weight: 800;
        text-align: center;
    }
    h4{
        text-align: center;
        font-weight: 400;
        font-size: 24px;
    }
    form{
        padding:20px 0;
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        input{
            background: #FFFFFF;
            border-radius: 4px;
            width: 100%;
            margin-bottom: 20px;
            border: none;
            height: 50px;
            padding: 5px 10px;
        }
        button{
            width: 100%;
            background-color:#FFCA0F;
            color:#333333;
            font-size: 16px;
            font-weight: 800;
            height:52px;
            border-radius: 8px;
            border:none;
        }
    }
    .img-contact-girl{
        right:0;
        bottom:0;
        position: absolute;
        .contact-girl-full{
            width:1000px;
            height:auto;
        }
        .contact-girl-cut{
            display:none;
            width:760px;
            height:auto;
        }
    }
}
//tuyen dung
.redriect{
    padding:20px 0;
}
.recruit-banner{
    padding-top:110px;
    min-height: 328px;
    background-image:url(../images/recruit/bg-banner.png);
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    h2{
        padding-top:40px;
        font-size:36px;
        font-weight: 700;
        color:#ffffff;
    }
    h2::after{
        content: "";
        border-bottom: 2px solid #ffffff;
    }
}
.news-recruit{
    background-color:#f8f8f8;
    padding-bottom: 40px;
    h1{
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        color:#333333;
        font-weight: 800;
    }
    .news-recruit-list{
        .news-recruit-item{
            padding:15px;
            background-color: #ffffff;
            margin:15px auto;
            width: 360px;
            height:516px;
            border:1px solid #E0E0E0;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px    
        }
        .news-recruit-item:hover{
            transform: scale(1.01);
        }
        .img-news-recruit{
            width: 100%;
        }
        h3{
            font-size: 20px;
            font-weight: 800;
            color:#000000;
        }
        .count-employee{
            font-size:16px;
            font-weight: 600;
        }
        .create-date{
            font-size:12px;
            color:#828282;
            font-weight: 400;
            .create-by{
                margin-left:10px;
            }
        }
    }
    .slick-dots li {
        transition: all 0.5s ease-in-out;
        width: 20px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        bottom: -40px;
    }

    .slick-dots li button:before {
        display: block;
        font-size: 0;
    }

    .slick-dots li button {
        border:2px solid #E12A41;
        background: #ffffff;
        display: block;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .slick-dots li.slick-active {
        button {
            background: #E12A41;
            border-radius: 12px;
        }
    }
}
.recruit-register-job{
    padding:40px 0;
    width: 100%;
    min-height: 740px;
    text-align: center;
    color:#ffffff;
    background-color: #bb1f33;
    // background: linear-gradient(79.07deg, #A41017 10.87%, #BF1D24 62.5%);
    background-image: url(../images/recruit/bg-register-form.png),url(/images/recruit/bg-register-form-2.png);
    background-repeat: no-repeat;
    background-position:left bottom,100% 100px;
    background-size:45% auto,300px auto;
    h2{
        font-size: 36px;
        font-weight: 800;
    }
    h6{
        font-size:16px;
        font-weight: 600;
    }
    .box-register{
        box-shadow: 0px 0px 6px #FFFFFF;
        border-radius: 5px;
        text-align:left;
        padding:20px;
        min-height: 490px;
        min-width: 80%;
        max-width: 600px;
        display:block;
        margin:20px auto;
        background-color: #ffffff;
        label{
            color:#424242;
            font-weight: 600;
            font-size: 16px;
        }
        input{
            background-color:#F4F4F4;
        }
        form{
            padding:20px 0;
            height: 100%;
        }
        .custom-input-form{
            width: 48%;
        }
        .btn-submit{
            border:none;
            display:block;
            margin:30px auto 0 auto;
            width:154px;
            height:48px;
            background-color:#E12A41;
            color:#ffffff;
            font-size:16px;
            border-radius: 8px;
        }
        #inputGroupFile02{
            display: inline-block;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50px;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        #browseBtn{
            color:#ffffff;
            background-color:#F9C307;
            width: 76px;
            height: 44px;
        }
    }
}
//tuyen dung chi tiet
.recruit-content {
    img{
        width: 100%;
        height:auto;
    }  
    h1{
        font-size:36px;
        font-weight: 700;
    }
    .info-content-detail {
        display: flex;
        .avt-author {
            border-radius: 50%;
            background-color: #FFD1D1;
            color: #E12A41;
            width: 24px;
            height: 24px;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 24px;

            img {
                border-radius: 50%;
                border: 1px solid #e0e0e0;
                height: 100%;
                width: 100%;
            }
        }

        .name-author {
            text-transform: capitalize;
            display: flex;
            align-items: end;
            margin-left: 10px;
            color: #828282;
            font-weight: 500;

            .create-date {
                margin: 0 5px;
            }
        }

        .space {
            margin: 0 10px;
        }

        .count-cmt {
            a {
                color: #2F80ED;
            }
        }
    }
    .detail-item{
        padding-bottom: 20px;
        img{
            margin-right: 10px;
            height:20px;
            width: 20px;
        }
        .detail{
            font-weight: 700;
            font-size:16px;
            span{
                margin-left:5px;
                font-weight: 400;
            }
        }
    }
}
.right-side{
    padding-left: 20px;
    .search-insite{
        border:none;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 10px;
        
    }
    button{
        background:#E12A41;
        .bi-search{
            color:#ffffff;
        }
    }
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #E12A41;
        outline: 0;
        box-shadow: none;
    }
    .recruit-hot{
        width: 100%;
        height:auto;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 8px;
        .h-r-hot{
            border-bottom: 1px solid #E0E0E0;
        }
        h2{
            font-size:18px;
            font-weight: 700;
            padding:10px 10px 0 10px;
        }
        .r-h-list{
            padding:10px;
        }
        .r-h-item{
            margin-bottom: 20px;
            width: 100%;
            img{
                border-radius: 8px;
                width: 100%;
                max-height: 100px;
            }
        }
        .r-item-title{
            font-size:16px;
            font-weight: 600;
        }
        .r-h-info{
            padding-left: 10px;
        }
        .f-item-detail{
            font-size:14px;
            font-weight: 400;
            color:#828282;
        }
    }
}
footer{
    position: relative;
    min-height: 340px;
    width: 100%;
    background-color:#ffffff;
    .lg-footer{
        img{
            max-height: 90px;
        }
    }
    .footer-detail{
        .footer-detail-l{
            ul{
                padding:0;
                li{
                    margin-bottom: 10px;
                    font-size: 15px;
                    list-style-type: none;
                    color:#333333;
                    font-weight: 700;
                    a{
                        color: #4F4F4F;
                    }
                    .link-mail{
                        a{
                            font-weight: 500;
                        }
                    }
                }
            }
            ul:last-child{
                li{
                    line-height:32px;
                }
            }
        }
        .footer-detail-r{
            padding-left:40px;
            .h-ft-r{
                font-size:18px;
                line-height:27px;
                color:#E12A41;
                font-weight: 700;
            }
            ul{
                padding:0;
                li{
                    padding:5px 0;
                    font-size:16px;
                    list-style-type: none;
                    color:#333333;
                    line-height: 22px;
                    font-weight: 500;
                    a{
                        color: #4F4F4F;
                    }
                    .link-mail{
                        a{
                            font-weight: 500;
                        }
                    }
                    .list-social{
                        li{
                            margin-left: 20px;
                            i{
                                font-size: 40px;
                                margin-right: 10px;
                                color: #4f4f4f;
                                cursor: pointer;
                            }
                        }
                        li:first-child{
                            margin-left:0;
                        }
                        .bi-facebook:hover{
                            color:#1877F2;
                        }
                        .bi-youtube:hover{
                            color:#CD201F;
                        }
                        .bi-linkedin:hover{
                            color:#0A66C2;
                        }
                        .bi-instagram:hover{
                            background: -webkit-linear-gradient( 45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80 );
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }   
  
}
.action{
    position:fixed;
    align-items: center;
    bottom:10px;
    right:10px;
    .back-on-top{
        cursor: pointer;
        margin-bottom: 10px;
    }
    .support-mes{
        cursor: pointer;
    }
}  
.coppy-right{
    background-color: #ffffff;
    text-align: center;
    font-size:14px;
    font-weight: 500;
}
@media screen and (max-width: 1800px) {
    .home-banner{
        background-image:none;
    }
    .bg-phone{
        display:block !important;
    }
}
@media screen and (max-width:1400px) {
    .contact-girl-full{
        display:none;
    }
    .contact-girl-cut{
        display:block !important;
    }
}
@media screen and (max-width: 1199px) {
    // .fixed{
    //     padding:0 16px;
    // }
    // footer{
    //     padding:0 16px;
    // }
    // .text-banner{
    //     padding:0 16px;
    // }
    // .show-pay{
    //     padding:0 16px;
    // }
    // .home-contact-box{
    //     padding:40px 16px;
    // }
    .inner{
        padding:0 16px;
    }
    h2{
        width: 100% !important;
    }     
}
@media screen and (max-width: 991px) {
    header {
        .h-r {
            display: none;
        }
        .menu-mobile{
            .nav__bars-btn{
                margin-right: 20px;
                display:block !important;
            }
        }
    }
    
    .banner-introduction{
        height: 300px;
    }
    .btn-trial-banner{
        display:none !important;
    }
    .btn-trial-mobile{
        display:block !important;
    }
    .h-i-item{
        margin-top:15px !important;
    }
    .home-slide{
        h2{
            width: 100% !important;
        }
    }
    .home-stuff{
        h2{
            width: 100% !important;
        }
    }
    .right-step{
        margin-top:40px;
        .tut-step{
            margin-bottom:20px;
        }
    }
    .home-contact-box{
        min-height: 460px !important;
        .img-contact-girl{
            display:none;
        }
    }
}

@media screen and (max-width: 767.98px){
   
    footer {
        padding-bottom: 20px;

        .footer-detail {
            display: block !important;

            .footer-detail-l {
                display: block !important;

                ul {
                    display: flex !important;
                }
            }

            .footer-detail-r {
                padding: 0;

                ul {
                    li {
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .footer-step-pay{
        display:none !important;
    }
    .h-i-left {
        display: none;
    }

    .h-i-right {
        padding: 0 !important;

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .box-right {
            display: block !important;
        }

        embed {
            padding: 0 16px !important;
            max-width: 100%;
            margin-bottom: 40px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-contact-box{
        background-image: none;
    }
    .text-banner{
        .big-b{
            font-size:50px !important;      
        } 
        .text-normal{
            font-size: 16px !important;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
        }
        .banner-cal-intro{
            .h-title{
                font-size:16px !important;
            }
            h6{
                font-size:14px !important;
            }
        }
    }
    //tuyen dung
    .box-register{
        max-width: 400px !important;
    }
}
@media screen and (max-width: 575px) {
    .step{
        align-items: start !important;
    }
    embed{
        max-height: 200px !important;
    }
    .banner-introduction{
        height: 250px;
    }
    .home-banner{
        h2{
            font-size:28px !important;
            line-height: 42px;
        }  
    }
    .img-step{
        height:360px !important;
    }
    .circle-item{
        max-width: 60px !important;
        svg{
            max-width: 60px !important;
            max-height: 60px !important;
        }
    }
    //tuyen dung
    .news-recruit-item{
        width: 300px !important;
    }
    .news-recruit{
        h1{
            font-size:28px !important;
        }
    }
    .custom-input-form{
        width: 100% !important;
    }
    .custom-input-form:first-child{
        margin-bottom: 20px;
    }
    
}
@media screen and (max-width:340px){
    .banner-introduction{
        height: 200px;
    }
    .text-content{
        .h-cate{
            a{
                font-size:10px !important;
                line-height:20px !important;
            }
        }
        .tilte-content{
            a{
                font-size:12px !important;
            }
        }
    }
    //tuyen dung
    .news-recruit{
        .news-recruit-item{
            width: 250px !important;
            height:400px !important;
        }
    }
}
@keyframes btnGetNow {
    0% {transform: scale(1, 1);}
    100% {transform: scale(1.05, 1.05);}
}
@keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
}
@keyframes rotate25 {
    0% {
        stroke-dasharray: 0px 79;
    }

    100% {
        stroke-dasharray: 19.25px 79;
    }
}
@keyframes rotate50 {
    0% {
        stroke-dasharray: 0px 79;
    }

    100% {
        stroke-dasharray: 39px 79;
    }
}
@keyframes rotate75 {
    0% {
        stroke-dasharray: 0px 79;
    }

    100% {
        stroke-dasharray: 59px 79;
    }
}
@keyframes rotate100 {
    0% {
        stroke-dasharray: 0px 79;
    }

    100% {
        stroke-dasharray: 79px 79;
    }
}