@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Regular.woff2);
  font-weight: 400; }
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Regular.woff2);
  font-weight: 500; }
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Bold.woff2);
  font-weight: 700; }
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-SemiBold.woff2);
  font-weight: 600; }
@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-ExtraBold.woff2) format("woff2");
  font-weight: 800; }
dl,
ol,
ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000000; }

a:hover {
  color: #E12A41; }

h1 {
  padding: 20px 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800; }

body {
  background-color: #F8F8F8;
  font-family: "Nunito", sans-serif;
  font-size: 14px; }

.fixed {
  width: 100%;
  min-height: 80px;
  position: fixed;
  z-index: 99; }

.inner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

header {
  background-color: #ffffff; }
  header .inner {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    header .inner .header-logo img {
      max-height: 90px; }
    header .inner .h-r ul {
      align-items: center; }
      header .inner .h-r ul li {
        margin: 0 20px;
        list-style-type: none; }
        header .inner .h-r ul li a {
          font-weight: 700;
          font-size: 16px;
          color: #333333; }
        header .inner .h-r ul li a:hover {
          color: #E12A41; }
        header .inner .h-r ul li a.active {
          color: #E12A41; }
        header .inner .h-r ul li span {
          margin-left: 5px; }
    header .inner .h-r button {
      width: 102px;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: #333333;
      border: 1.5px solid #333333;
      border-radius: 8px; }
    header .inner .h-r button.register {
      background-color: #ffffff;
      margin: 0 12px 0 24px; }
    header .inner .h-r button.login {
      background-color: #E12A41;
      border: none;
      color: #ffffff; }
    header .inner .menu-mobile .nav__bars-btn {
      display: none;
      width: 28px;
      height: 28px;
      color: #fff; }
    header .inner .menu-mobile .nav__mobile {
      z-index: 100;
      opacity: 0;
      transform: translateX(100%);
      transition: transform linear 0.3s, opacity linear 0.5s;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 320px;
      max-width: 100%;
      background-color: #fff; }
      header .inner .menu-mobile .nav__mobile .nav_mobile_header {
        border-bottom: 2px solid #e6e6e6;
        line-height: 36px; }
        header .inner .menu-mobile .nav__mobile .nav_mobile_header img {
          max-height: 90px; }
      header .inner .menu-mobile .nav__mobile .nav__mobile-list {
        margin-top: 24px; }
        header .inner .menu-mobile .nav__mobile .nav__mobile-list li {
          line-height: 40px !important;
          padding-left: 20px;
          list-style-type: none; }
          header .inner .menu-mobile .nav__mobile .nav__mobile-list li .nav__mobile-link {
            text-decoration: none;
            color: #333333;
            display: block;
            font-size: 16px; }
          header .inner .menu-mobile .nav__mobile .nav__mobile-list li button {
            width: 102px;
            height: 40px;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: #333333;
            border: 1.5px solid #333333;
            border-radius: 8px; }
          header .inner .menu-mobile .nav__mobile .nav__mobile-list li button.register {
            background-color: #ffffff;
            margin: 0 12px 0 24px; }
          header .inner .menu-mobile .nav__mobile .nav__mobile-list li button.login {
            background-color: #E12A41;
            border: none;
            color: #ffffff; }
    header .inner .menu-mobile .nav__overlay {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      animation: fadeIn linear 0.2s; }
    header .inner .menu-mobile .nav__input {
      display: none; }
    header .inner .menu-mobile .nav__input:checked ~ .nav__overlay {
      display: block; }
    header .inner .menu-mobile .nav__input:checked ~ .nav__mobile {
      transform: translateX(0%);
      opacity: 1; }

main {
  padding-left: 16px;
  padding-right: 16px; }

.home-banner {
  padding-top: 120px;
  background-image: url("/images/home/absoulute-bg-banner.png");
  background-repeat: no-repeat;
  background-position: 2%;
  background-size: 400px 400px;
  min-height: 662px;
  background-color: #E12A41; }
  .home-banner .text-banner {
    color: #ffffff; }
    .home-banner .text-banner .big-b {
      font-weight: 800;
      font-size: 64px; }
    .home-banner .text-banner b {
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45); }
    .home-banner .text-banner .text-normal {
      font-weight: 600;
      font-size: 34px; }
    .home-banner .text-banner .banner-cal-intro {
      color: #ffffff; }
      .home-banner .text-banner .banner-cal-intro .h-title {
        padding-top: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        font-style: italic; }
      .home-banner .text-banner .banner-cal-intro .cal-intro {
        margin-top: 40px; }
        .home-banner .text-banner .banner-cal-intro .cal-intro .circle-item {
          width: 120px; }
          .home-banner .text-banner .banner-cal-intro .cal-intro .circle-item .circle {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            background-color: #ffffff;
            width: 80px;
            height: 80px;
            position: relative; }
            .home-banner .text-banner .banner-cal-intro .cal-intro .circle-item .circle .circle-absolute {
              position: absolute;
              top: 10%;
              left: 10%;
              border-radius: 50%;
              height: 80%;
              width: 80%;
              background-color: #E12A41;
              z-index: 1; }
            .home-banner .text-banner .banner-cal-intro .cal-intro .circle-item .circle .circle-absolute-animation {
              position: absolute;
              top: 10%;
              left: 10%;
              border-radius: 50%;
              height: 80%;
              width: 80%;
              background-color: #ffffff;
              z-index: 2; }
          .home-banner .text-banner .banner-cal-intro .cal-intro .circle-item h6 {
            font-style: italic;
            text-align: center;
            font-size: 18px;
            margin-top: 20px; }
    .home-banner .text-banner .btn-trial-banner {
      height: 52px;
      width: 220px;
      background: #EFBC08;
      border-radius: 8px;
      display: block;
      margin: 50px auto;
      color: #ffffff;
      font-weight: 800;
      font-size: 16px;
      text-align: center;
      line-height: 52px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .home-banner .bg-phone img {
    object-fit: contain;
    width: 100%; }
  .home-banner .btn-trial-mobile {
    display: none;
    height: 52px;
    width: 220px;
    background: #EFBC08;
    border-radius: 8px;
    margin: 0px auto 40px auto;
    color: #ffffff;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }

.home-intro {
  background-color: #ffffff;
  background-image: url(/images/home/Background-hom-intro.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  padding: 10px 16px; }
  .home-intro .inner {
    padding: 40px 0; }
  .home-intro .h-i-left iframe {
    max-width: 100%; }
  .home-intro .h-i-right {
    padding: 0 20px;
    margin-bottom: 40px; }
    .home-intro .h-i-right h2 {
      font-size: 36px;
      font-weight: 800; }
      .home-intro .h-i-right h2 span {
        color: #E12A41; }
    .home-intro .h-i-right iframe {
      display: none; }
    .home-intro .h-i-right .h-i-section {
      padding-bottom: 20px; }
    .home-intro .h-i-right .h-i-item {
      font-size: 16px;
      font-weight: 600;
      color: #4F4F4F;
      margin-top: 20px; }
  .home-intro .btn-advise {
    width: 200px;
    height: 52px;
    background-color: #E12A41;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800; }

.home-stuff {
  padding: 40px 16px; }
  .home-stuff h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 58%;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 40px; }
    .home-stuff h2 span {
      color: #E12A41; }
  .home-stuff .stuff-item {
    margin: 10px;
    height: 264px;
    width: 264px;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    text-align: center;
    cursor: pointer; }
    .home-stuff .stuff-item img {
      width: 122px;
      height: 122px;
      display: block;
      margin: 0 auto; }
    .home-stuff .stuff-item h6 {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      width: 64%;
      display: block;
      margin: 0 auto; }
  .home-stuff .stuff-item:hover {
    transform: scale(1.03);
    border: 1px solid #E12A41; }

.home-service-hot {
  padding: 60px 0;
  background-color: #ffffff; }
  .home-service-hot h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px; }
    .home-service-hot h2 span {
      color: #E12A41; }
  .home-service-hot .slider-service .service-item {
    height: 200px;
    width: 200px; }
    .home-service-hot .slider-service .service-item .s-i-frame {
      background-color: #bbbbbb;
      border: 1px solid #E0E0E0;
      border-radius: 8px;
      width: 170px;
      height: 170px;
      display: block;
      margin: auto;
      position: relative; }
      .home-service-hot .slider-service .service-item .s-i-frame img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .home-service-hot .slider-service .service-item .s-i-frame h5 {
        position: absolute;
        text-align: center;
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 32px;
        font-weight: 800; }
    .home-service-hot .slider-service .service-item .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      animation: fadeIn linear 0.2s; }
  .home-service-hot .slick-dots li {
    transition: all 0.5s ease-in-out;
    width: 20px; }
  .home-service-hot .slick-dots {
    display: flex;
    justify-content: center;
    bottom: -40px; }
  .home-service-hot .slick-dots li button:before {
    display: block;
    font-size: 0; }
  .home-service-hot .slick-dots li button {
    background: #C4C4C4;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    width: 12px;
    height: 12px;
    border-radius: 50%; }
  .home-service-hot .slick-dots li.slick-active button {
    background: #E12A41;
    border-radius: 12px; }

.home-pay-tutorial {
  padding: 60px 0; }
  .home-pay-tutorial h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px; }
    .home-pay-tutorial h2 span {
      color: #E12A41; }
  .home-pay-tutorial .img-step img {
    max-height: 468px;
    width: 100%;
    object-fit: cover;
    display: none; }
  .home-pay-tutorial .img-step img.active {
    display: block; }
  .home-pay-tutorial .step {
    padding-top: 10px; }
  .home-pay-tutorial .right-step {
    position: relative; }
    .home-pay-tutorial .right-step .vertical_dotted_line {
      left: 47px;
      position: absolute;
      border-left: 1px dashed #BDBDBD;
      height: 350px;
      z-index: -1; }
  .home-pay-tutorial .tut-step {
    min-height: 80px;
    z-index: 10; }
    .home-pay-tutorial .tut-step .circle-step {
      background: #ffffff;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #BDBDBD;
      text-align: center;
      line-height: 48px;
      font-size: 24px;
      font-weight: 700;
      color: #828282;
      box-sizing: border-box;
      display: block;
      margin: 0 auto; }
    .home-pay-tutorial .tut-step p {
      background-color: #f8f8f8;
      padding-top: 5px;
      display: none;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      color: #E12A41;
      margin-bottom: 0 !important; }
    .home-pay-tutorial .tut-step .step-detail {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
      box-sizing: border-box;
      border: 1px solid #E0E0E0;
      height: 100%;
      font-size: 16px;
      border-radius: 8px;
      font-weight: 700;
      color: #000000;
      min-height: 64px; }
  .home-pay-tutorial .tut-step.active .circle-step {
    cursor: default;
    box-shadow: 0px 0px 4px #FD6275;
    border: none;
    background-color: #E12A41;
    color: #ffffff; }
  .home-pay-tutorial .tut-step.active .step-detail {
    cursor: default;
    background-color: #E12A41;
    color: #ffffff; }
  .home-pay-tutorial .tut-step.active p {
    display: block; }
  .home-pay-tutorial .footer-step-pay {
    margin-top: 20px; }
    .home-pay-tutorial .footer-step-pay h6 {
      margin: 0;
      font-size: 20px;
      font-weight: 700;
      color: #000000; }
      .home-pay-tutorial .footer-step-pay h6 span {
        color: #E12A41; }
    .home-pay-tutorial .footer-step-pay .btn-GetNow {
      margin-left: 20px;
      background: #FFC700;
      border-radius: 8px;
      height: 42px;
      border: none;
      width: 142px;
      font-size: 16px;
      color: #333333;
      font-weight: 700;
      animation: btnGetNow .5s infinite alternate; }
      .home-pay-tutorial .footer-step-pay .btn-GetNow a {
        display: block;
        text-align: center;
        line-height: 44px;
        text-transform: uppercase; }

footer {
  position: relative;
  min-height: 340px;
  width: 100%;
  background-color: #ffffff; }
  footer .lg-footer img {
    max-height: 90px; }
  footer .footer-detail .footer-detail-l ul {
    padding: 0; }
    footer .footer-detail .footer-detail-l ul li {
      margin-bottom: 10px;
      font-size: 15px;
      list-style-type: none;
      color: #333333;
      font-weight: 700; }
      footer .footer-detail .footer-detail-l ul li a {
        color: #4F4F4F; }
      footer .footer-detail .footer-detail-l ul li .link-mail a {
        font-weight: 500; }
  footer .footer-detail .footer-detail-l ul:last-child li {
    line-height: 32px; }
  footer .footer-detail .footer-detail-r {
    padding-left: 40px; }
    footer .footer-detail .footer-detail-r .h-ft-r {
      font-size: 18px;
      line-height: 27px;
      color: #E12A41;
      font-weight: 700; }
    footer .footer-detail .footer-detail-r ul {
      padding: 0; }
      footer .footer-detail .footer-detail-r ul li {
        padding: 5px 0;
        font-size: 16px;
        list-style-type: none;
        color: #333333;
        line-height: 22px;
        font-weight: 500; }
        footer .footer-detail .footer-detail-r ul li a {
          color: #4F4F4F; }
        footer .footer-detail .footer-detail-r ul li .link-mail a {
          font-weight: 500; }
        footer .footer-detail .footer-detail-r ul li .list-social li {
          margin-left: 20px; }
          footer .footer-detail .footer-detail-r ul li .list-social li i {
            font-size: 40px;
            margin-right: 10px;
            color: #4f4f4f;
            cursor: pointer; }
        footer .footer-detail .footer-detail-r ul li .list-social li:first-child {
          margin-left: 0; }
        footer .footer-detail .footer-detail-r ul li .list-social .bi-facebook:hover {
          color: #1877F2; }
        footer .footer-detail .footer-detail-r ul li .list-social .bi-youtube:hover {
          color: #CD201F; }
        footer .footer-detail .footer-detail-r ul li .list-social .bi-linkedin:hover {
          color: #0A66C2; }
        footer .footer-detail .footer-detail-r ul li .list-social .bi-instagram:hover {
          background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }

.action {
  position: fixed;
  align-items: center;
  bottom: 10px;
  right: 10px; }
  .action .back-on-top {
    cursor: pointer;
    margin-bottom: 10px; }
  .action .support-mes {
    cursor: pointer; }

.coppy-right {
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500; }

@media screen and (max-width: 1199px) {
  .fixed {
    padding: 0 16px; }

  footer {
    padding: 0 16px; }

  .text-banner {
    padding: 0 16px; }

  .show-pay {
    padding: 0 16px; }

  h2 {
    padding: 0 16px;
    width: 100% !important; } }
@media screen and (max-width: 991px) {
  header .h-r {
    display: none; }
  header .menu-mobile .nav__bars-btn {
    margin-right: 20px;
    display: block !important; }

  .banner-introduction {
    height: 300px; }

  .btn-trial-banner {
    display: none !important; }

  .btn-trial-mobile {
    display: block !important; }

  .h-i-item {
    margin-top: 15px !important; }

  .home-slide h2 {
    width: 100% !important; }

  .home-stuff h2 {
    width: 100% !important; }

  .tut-step {
    margin-bottom: 20px; } }
@media screen and (max-width: 767.98px) {
  .footer-step-pay {
    display: none !important; }

  footer {
    padding-bottom: 20px; }
    footer .footer-detail {
      display: block !important; }
      footer .footer-detail .footer-detail-l {
        display: block !important; }
        footer .footer-detail .footer-detail-l ul {
          display: flex !important; }
      footer .footer-detail .footer-detail-r {
        padding: 0; }
        footer .footer-detail .footer-detail-r ul li {
          line-height: 30px; }

  footer {
    padding: 0 16px; }

  .h-i-left {
    display: none; }

  .h-i-right {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .h-i-right h2 {
      text-align: center;
      margin-bottom: 20px; }
    .h-i-right iframe {
      padding: 0 16px !important;
      display: block !important;
      max-width: 100%;
      margin-bottom: 40px; } }
@media screen and (max-width: 576px) {
  iframe {
    max-height: 200px !important; }

  .banner-introduction {
    height: 250px; }

  .text-banner .big-b {
    font-size: 50px !important; }
  .text-banner .text-normal {
    font-size: 16px !important;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45); }
  .text-banner .banner-cal-intro .h-title {
    font-size: 16px !important; }
  .text-banner .banner-cal-intro .circle {
    width: 44px !important;
    height: 44px !important; }
  .text-banner .banner-cal-intro h6 {
    font-size: 14px !important; }

  h2 {
    font-size: 28px !important;
    line-height: 42px; } }
@media screen and (max-width: 340px) {
  .banner-introduction {
    height: 200px; }

  .text-content .h-cate a {
    font-size: 10px !important;
    line-height: 20px !important; }
  .text-content .tilte-content a {
    font-size: 12px !important; } }
@keyframes btnGetNow {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.05, 1.05); } }

/*# sourceMappingURL=styles.css.map */
