@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Regular.woff2);
    font-weight: 500;
}
@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Bold.woff2);
    font-weight: 700;
}
@font-face{
    font-family: Nunito;
    src:url(/fonts/Nunito-SemiBold.woff2);
    font-weight: 600;
}
@font-face{
    font-family: Nunito;
    src:url(/fonts/Nunito-ExtraBold.woff2) format('woff2');
    font-weight: 800;
}

$primary-color: #E12A41;

dl,
ol,
ul {
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    li{
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #E12A41;
}

h1 {
    padding: 20px 0;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

body {
    background-color: #F8F8F8;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.fixed {
    width: 100%;
    min-height: 80px;
    position: fixed;
    z-index: 99;
    // box-shadow: 0 0 6px #333;
}

.inner {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;

    .inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .header-logo{
            img{
                max-height: 90px;
            }
        }
        .h-r {
            ul {
                align-items: center;
                li {
                    margin: 0 20px;
                    list-style-type: none;

                    a {
                        font-weight: 700;
                        font-size: 16px;
                        color: #333333;
                    }

                    a:hover {
                        color: #E12A41;
                    }

                    a.active {
                        color: #E12A41;
                    }

                    span {
                        margin-left: 5px;
                    }
                }
            }

            button {
                width: 102px;
                height: 40px;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                color: #333333;
                border: 1.5px solid #333333;
                border-radius: 8px;
            }

            button.register {
                background-color: #ffffff;
                margin: 0 12px 0 24px;
            }

            button.login {
                background-color: #E12A41;
                border: none;
                color: #ffffff;
            }
        }
        .menu-mobile{
            .nav__bars-btn {
                display: none;
                width: 28px;
                height: 28px;
                color: #fff;
              }
              .nav__mobile {
                z-index:100;
                opacity: 0;
                transform: translateX(100%);
                transition: transform linear 0.3s, opacity linear 0.5s;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 320px;
                max-width: 100%;
                background-color: #fff;
                .nav_mobile_header {
                  border-bottom: 2px solid rgb(230, 230, 230);
                  line-height:36px;
                  img{
                      max-height: 90px;
                  }
                }
                .nav__mobile-list {
                  margin-top: 24px;
                  li {
                    line-height:40px !important;
                    padding-left: 20px;
                    list-style-type: none;
                    .nav__mobile-link {
                      text-decoration: none;
                      color: #333333;
                      display: block;
                      font-size: 16px;
                    }    
                    button {
                        width: 102px;
                        height: 40px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 18px;
                        color: #333333;
                        border: 1.5px solid #333333;
                        border-radius: 8px;
                    }
        
                    button.register {
                        background-color: #ffffff;
                        margin: 0 12px 0 24px;
                    }
        
                    button.login {
                        background-color: #E12A41;
                        border: none;
                        color: #ffffff;
                    }
                  }
                }
              }
              .nav__overlay {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
              }
              .nav__input {
                display: none;
              }
              .nav__input:checked ~ .nav__overlay {
                display: block;
              }
              .nav__input:checked ~ .nav__mobile {
                transform: translateX(0%);
                opacity: 1;
              }
        }
    }
}
main{
    padding-left:16px;
    padding-right: 16px;
}
.header-section-redirect-detail{
    font-size: 16px;
    margin-bottom: 20px;
    li{
        margin:0 8px;
    }
    li:first-child {
        margin-left:0;
    }
    .parent-branch{
        color:#828282;
    }
    .child-branch{
        color:#333333;
        font-weight: 600;
        font-style: normal;
    }
    .child-branch-detail{
        color:#E12A41;
        font-weight: 600;
    }
}
.header-section {
    padding-top:110px;
    h1{
        text-transform: uppercase;
    }
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    margin-bottom: 20px;
    ul {
        padding: 0;
        width: 100%;
        li {
            position: relative;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0;
            list-style-type: none;
            margin-right: 20px;
            padding-bottom: 10px;
            .border-active{
                font-weight: 600;
                position:absolute;
                border:2px solid #E12A41;
                width: 100%;
                bottom: -2px;
                font-weight: 600;
            }
        }
        li.active{
            a{
                font-weight: 800;
            }
        }
    }
    .menu-tab{
        display:block;
    }
   
}
.header-section-mobile{
    display:none;
    padding-top:90px;
    z-index:98;
    background-color:#F8F8F8;
    h1{
        padding-left:16px;
        text-transform: uppercase;
    }
    position: relative;
    margin-bottom: 20px;
    .menu-item {
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0;
        list-style-type: none;
        padding-bottom: 10px;
        .border-active{
            font-weight: 600;
            position:absolute;
            border:2px solid #E12A41;
            width: 100%;
            bottom: -2px;
            font-weight: 600;
        }
    }
    .menu-item:first-child{
        margin-right:20px;
    }
    .active{
        font-weight: 800;     
    }    
    .menu-tab-mobile{
        z-index:99;
        position: relative;
        display:none;
        .current-menu{
            margin:0 16px;
            background-color: #F8F8F8;
            border-bottom:1px solid #E0E0E0;
            li{
                margin-right:20px;
            }
        }
        .more-menu{
            padding:0 16px;
            top:32px;
            position:absolute;
            width: 100%;
            background-color: #F8F8F8;
            display:flex;
            .menu-item{
                padding:20px 0;
                border-bottom:1px solid #E0E0E0;
            }
        }
        .btn-more{
            cursor: pointer;
            margin-right: 10px;
        }
       
    }
}
.main-section {
    .introduction {
        .article-content {
            min-height: 520px;  
            .slider {   
                height:100%;
                background-color: #ffffff;
                border: 1px solid #E0E0E0;
                border-radius: 8px;       
                .big-slide {
                    padding: 20px 10px;
                    max-height: 440px;
                    img {
                        display: block;
                        margin:0 auto;
                        object-fit: cover;
                        width: 100%;
                        height: 360px;
                        border-radius: 8px;
                    }
                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 27px;
                        padding-top: 10px;
                        overflow: hidden;
                        height: 72px;
                        text-overflow: ellipsis;
                        white-space: normal;
                        a{
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;
                        }
                    }

                    h3:hover {
                        overflow: visible;
                    }

                    .create-date {
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;

                        p {
                            font-weight: 400;
                            font-style: normal;
                            font-size: 16px;
                            color: #828282;
                            margin: 0 10px;
                        }
                    }
                }
                .small-slide {
                    padding: 20px 0px;

                    ul {
                        padding: 0;
                        width: 100%;

                        li {
                            margin-bottom: 20px;
                            display: flex;
                            width: 100%;
                            min-height: 96px;

                            .img-sm-slide {
                                height: 96px;
                                border: 1px solid #E0E0E0;
                                border-radius: 8px;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }

                            .text-sm-slide {
                                position: relative;
                                padding: 0 10px;
                                font-family: "Nunito", sans-serif;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 700;

                                a {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }

                                .create-date {
                                    position: absolute;
                                    bottom: 0;
                                    display: flex;
                                    align-items: center;

                                    h6 {
                                        font-weight: 400;
                                        font-size: 14px;
                                        color: #828282;
                                        margin: 0 10px;
                                    }
                                }
                            }
                        }

                        li:last-child {
                            margin: 0;
                        }
                    }
                }
            }
         
        }

        .b-side {
            min-height: 520px;
            
          
        }
        .intro-news-detail{
            img{
                height: 100%;
                width: 100%;
                border:1px solid #E0E0E0;
                border-radius: 8px;
            }
        }
    }
    .introduction-mobile{
        display:none;
        margin-bottom: 60px;
        .slider-mobile{
            margin:auto;
            .slider-mobile-item{
                border: 1px solid #E0E0E0;
                background-color: #ffffff;
                border-radius: 8px;
                .stuff-item{
                    padding:10px;
                    width: 100%;
                    min-height: 400px;
                    img{
                        width: 100%;
                        object-fit: cover;
                        display:block;
                        border-radius: 8px;
                        height:350px;
                    }     
                    h2 {
                        padding:0 10px;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 27px;
                        padding-top: 10px;
                        overflow: hidden;
                        height: 72px;
                        text-overflow: ellipsis;
                        white-space: normal;
                        a{
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;
                        }
                    }  
                }            
            }
          
        }
    }
    .slick-dots li{
        transition: all 0.5s ease-in-out;
        width: 20px;
      }
      .slick-dots{
        display:flex;
        justify-content:center;
        bottom: -40px;
      }
      .slick-dots li button:before {
        display: block;
        font-size: 0;
      }
      .slick-dots li button {
        display: block;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border:1px solid #bdbdbd;
      }
      .slick-dots li.slick-active{
        button {
          background: #E12A41;
          border-radius: 12px;
        }
      }      
    .main-content{
        min-height: 1000px;
        margin-top:20px;
        margin-bottom: 40px;
        .article-section{
            min-height:100%;
            section {
                height: 100%;
                border: 1px solid #E0E0E0;
                width: 100%;
                border-radius: 8px;
                background-color: #ffffff;
                ul {
                    width: 100%;
                    padding: 20px 10px;
                    li {
                        display: flex;
                        max-height:100%;
                        width: 100%;
                        list-style-type: none;
                     
                        hr {
                            border: 0.5px solid #E0E0E0;
                        }
                    }
                    hr{
                        margin:30px 0;
                        border:1px solid #E0E0E0;
                    }
                }

                .pagination {
                    margin-bottom: 20px;
                    padding:10px 20px;
                    display: flex;
                    justify-content: end;
                    .pagging{
                        position:relative;
                        width: 32px;
                        height:32px;
                        border: 1px solid #E0E0E0;
                    }
                    .pagging.active{
                        border-radius: 8px;
                        background-color:#E12A41;
                    }
                    .pagging:first-child{
                        margin-right:8px;
                    }
                    a {
                        top:50%;
                        left:40%;
                        transform: translateY(-50%);
                        position: absolute;
                        color: black;
                        float: left;
                        text-decoration: none;
                    }
                    a.active{
                        color:#ffffff;
                    }
                    a.dot{
                        user-select: none;
                    }
                }
                .pagination-mb{
                    display: none;
                    font-size:16px;
                    font-weight: 700;
                    color:#E12A41;
                    line-height:19px;
                    margin-bottom: 20px;
                    span{
                        font-size: 16px;
                        padding-left: 10px;
                        color:#333333;
                    }
                }
            }
        }
        .b-side-2{
            min-height:100%;
          
        }
        
        .article-section-detail{
            h1{
                font-size: 36px;         
                font-weight: 700;    
            }
            .info-content-detail{
                display: flex;
                margin-top: 4px;
                .avt-author {
                    background-color: #FFD1D1;
                    width: 24px;
                    height: 24px;
                }
                .name-author {
                    display: flex;
                    align-items: end;
                    margin-left: 10px;
                    color: #828282;
                    font-weight: 500;
                }
                .space{
                    margin:0 10px;
                }
                .count-cmt{
                    a{
                        color:#2F80ED;
                    }
                }
            }
            .description-content{
                font-weight: 600;
            }
            .img-head-content{
                width: 100%;
            }
            hr{
                border: 1px solid #E0E0E0;
            }
           
            .related-post{
                margin-top:40px;
                border: 1px solid #E0E0E0;
                border-radius:8px;
                background-color: #ffffff;
                padding:10px 10px;
                .h-r-post{
                    padding:5px 0;
                    // border-bottom: 1px solid #E0E0E0;
                }
                hr{
                    margin:0 !important;
                }
                h3{
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size:18px;
                }
                .more{
                    cursor: pointer;
                    position: relative;
                    width: 24px;
                    height:24px;
                    border-radius: 50%;
                    background-color:#F1F1F1;
                    svg{
                       position:absolute;
                       top:15%;
                       left:25%;
                       transform:translateX-(-50%);
                    }
                }
            }
            .r-p-content{
                .more-p-item{
                    padding:15px;
                }
                img{
                    border:1px solid #E0E0E0;
                    display: block;
                    margin:0 auto;
                    object-fit: cover;
                    width: 100%;
                    min-height: 100px;
                    border-radius: 8px;
                }
                a{
                    padding-left: 10px;
                    font-size: 15px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                .create-date {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    p {
                        font-style: normal;
                        font-size: 16px;
                        color: #828282;
                        margin: 0 10px;
                    }
                }
            }
        }
    } 
    .content-detail{
        color:#4F4F4F;
        font-size: 14px;
    }
}
.overlay_menu{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 96;
}
//component dung lai
.service-care{
    margin:0 0 20px 0; 
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    .h-svc{
        align-items: center;
        padding: 10px 10px 0 10px;

        h2 {
            padding-top: 12px;
            color: #333333;
            font-weight: 700;
            display: block;
            margin: 0 auto;
            font-size: 18px;
            line-height: 22px;
        }
    }
    ul{
        padding:0 10px;
        li{
            margin-bottom: 20px;
            display:flex;
            justify-content:start;
            width: 100%;
            list-style-type: none;
            display:flex;
            .img-sv-item{  
                position: relative;    
                .img-sv{
                    border-radius: 8px;
                    width: 82px;
                    height: 82px;
                }           
                .active {
                    .news-icon{
                        position: absolute;
                        top: -10%;
                        right:-10%;
                    } 
                }
            }
            .title-sv-item{
                padding:0 10px;
                font-size: 16px;
                font-weight: 600;
                .link-title{
                    font-size: 18px;
                    font-weight: 600;
                }
                .count-content-one-cate{
                    a{
                        font-weight: 500;
                        font-size: 14px;
                        color:#088FF0;
                    }   
                }
            }
        }
    }
}
.promotion{
    border: 1px solid #E0E0E0;
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    .h-p{
        align-items: center;
        padding: 10px 10px 0 10px;
        h2 {
            padding-top: 12px;
            color: #333333;
            font-weight: 700;
            display: block;
            margin: 0 auto;
            font-size: 18px;
            line-height: 22px;
        }
    }
    ul{
        padding:0;
        li{
            list-style-type: none;
            padding:0 10px;
            margin-bottom: 10px;
            position: relative;
            img{
                width: 100%;
                border-radius: 8px;
            }
            h5{
                position:absolute;                   
                padding:0 10px;
                bottom:0%;
                font-weight: 700;
                a{
                    font-size:14px;
                    color:#ffffff;
                }
                a:hover{
                    color:#E12A41;
                }
            }
        }
    }
}
.img-content {
    max-width: 100%;
    a{
        img{
            height: 100%;
            max-width:100%;
            border-radius: 8px;
            display: block;
            margin:0 auto;
            object-fit: cover;
            max-height: 200px;
            flex-shrink: 1;
        }
    }             
}
.text-content {
    padding: 0 12px;
    .h-cate {
        a {
            text-transform: uppercase;
            font-weight: 600;
            font-style: normal;
            color: #E12A41;
            font-size: 14px;
            line-height: 30px;
        }
    }

    .tilte-content {
        font-size: 20px;
        font-weight: 700;
        a{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }

    .description {
        color: #4F4F4F;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .footer-text-content {
        display: flex;
        margin-top: 4px;

        .avt-author {
            border-radius:50%;
            background-color: #FFD1D1;
            color:#E12A41;
            width: 24px;
            height: 24px;
            text-align: center;
            font-weight: bold;
            font-size:14px;
            text-transform: uppercase;
        }

        .name-author {
            display: flex;
            align-items: end;
            font-size:16px;
            margin-left: 10px;
            color: #828282;
            font-weight: 400;
        }
    }
}
.view-hot {
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
    border-radius: 8px;
    .h-vh {
        align-items: center;
        padding: 10px 10px 0 10px;
        h2 {
            padding-top: 12px;
            color: #333333;
            font-weight: 700;
            display: block;
            margin: 0 auto;
            font-size: 18px;
            line-height: 22px;
        }
    }
    ul {
        padding: 0;
        li {
            padding: 0 10px;
            list-style-type: none;
            margin-bottom: 20px;
            
            .count-num {
                position: relative;
                height: 34px;
                width: 34px;
                border-radius: 50%;
                background-color: #BDBDBD;

                h4 {
                    font-weight: 400;
                    font-size: 20px;
                    left: 30%;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    color: #ffffff;
                }
            }
            .text-view-hot{
                font-size: 14px;
                font-weight: 500;
                a{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
            .count-num.active {
                background-color: #E12A41;
            }
        }
    }
}

//sử dụng cho trang liên hệ
.contact{
    padding-top:110px;
    background-image: url(../images/background-contact.png);
    background-position: 160px 120px;
    background-repeat: no-repeat;
    min-height: 600;
    background-color: #F8F8F8;
    .inner{
        padding:40px 0;
        .info-contact{
            padding-right: 20px;
            h2{
                font-weight: 800;
                font-size: 24px;
                color:#E12A41;
                margin-bottom:40px;
            }
            ul{
                font-size: 16px;
                line-height:22px;
                li{
                    margin-bottom: 20px;
                    svg{
                        margin-right: 10px;
                    }
                    ul{
                        margin-left:5px;
                        li{
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .box-contact{
            display:block;
            margin:auto;
            max-width: 520px;
            max-height: 416px;
            background: #FFFFFF;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            form{
                padding:20px 0;
                width: 100%;
                input{
                    border: 1px solid #E0E0E0;
                    padding-left: 10px;
                    color:#828282;
                    height:40px;
                    display:block;
                    width: 80%;
                    margin:0 auto;
                    margin-top:20px;
                }
                input:last-child{
                    width: 30%;
                    background-color:#E12A41;
                    font-size: 14px;
                    color:#ffffff;
                    font-weight: 600;
                    border-radius: 4px;
                    margin-bottom: 20px;
                }
            }
        }
    }
   
}
.map{
    width: 100%;
    .inner{
        padding: 20px 0;
        h3{
            font-weight: 800;
        }
    }
}
.banner-introduction{
    width: 100%;
    padding-top: 110px;
    height:452px;
    background-color: $primary-color;
    .inner{
        height: 100%;
        img{
            margin:0 auto;
            display:block;
            object-fit: contain;
            max-height: 100%;
        }
    }
}
.general-information{
    padding:40px 0;
    background-color: #ffffff;
    font-size:18px;
    line-height: 27px;
    font-weight: 400;
    h2{
        font-size: 36px;
        font-weight: 800;
        color:$primary-color;
        text-transform: uppercase !important;
    }
    hr{
        width: 50px;
        border:2px solid $primary-color;
        border-radius: 8px;
        opacity: 1 !important;
    }
    .g-info-l{
        padding-right: 18px;
    }

}
.map-location{
    max-height: 930px;
    .location{
        position: relative;
        width: fit-content !important;
        height:fit-content !important;
        // position: relative;
        // height: 930px;
        // background-image: url(/images/map-frame.png);
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: contain;
        .map-frame{
            width: 100%;
        }
        .location-1{
            position:absolute;
            top:10px;
            left:10px;
        }
    }
    
    
}
//sử dụng trang home
.home-banner{
    padding-top:110px;
    background-image: url("/images/home/absoulute-bg-banner.png");
    background-repeat: no-repeat;
    background-position:2%;
    background-size: 400px 400px;
    min-height: 662px;
    background-color: $primary-color;
    .text-banner{
        color:#ffffff;
        .big-b{
            font-weight: 800;
            font-size:64px;
            
        } 
        b{
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
        }
        .text-normal{
            font-weight: 600;
            font-size: 34px;
        }
        // b:not(.big-b){
        //     font-size: 40px;
        // }
        .banner-cal-intro{
            color:#ffffff;
            .h-title{
                padding-top:20px;
                text-align: center;
                font-size:24px;
                font-weight: 600;
                font-style: italic;
            }
            .cal-intro{
                margin-top:20px;
                .circle-item{
                    width:120px;          
                    .circle{
                        display:block;
                        margin:0 auto;
                        border-radius: 50%;
                        background-color: #ffffff;
                        width: 80px;
                        height: 80px;
                        position: relative;
                        .circle-absolute{
                            position: absolute;
                            top:10%;
                            left:10%;
                            border-radius: 50%;
                            height: 80%;
                            width: 80%;
                            background-color:#E12A41;
                            z-index:1;
                        }
                        .circle-absolute-animation{
                            position: absolute;
                            top:10%;
                            left:10%;
                            border-radius: 50%;
                            height: 80%;
                            width: 80%;
                            background-color:#ffffff;
                            z-index:2;
                        }
                    }
                    h6{
                        font-style: italic;     
                        text-align: center;   
                        font-size:18px;  
                        margin-top:20px;
                    }
                }
            }
        }
        .btn-trial-banner{
            height:52px;
            width: 220px;
            background: #EFBC08;
            border-radius: 8px;
            display:block;
            margin:50px auto;
            color:#ffffff;
            font-weight: 800;
            font-size:16px;
            text-align: center;
            line-height: 52px;
            cursor: pointer;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
    .bg-phone{
        img{
            object-fit:contain;
            width: 100%;
        }
    }
    .btn-trial-mobile{
        display:none;
        height:52px;
        width: 220px;
        background: #EFBC08;
        border-radius: 8px;
        margin:0px auto 40px auto;
        color:#ffffff;
        font-weight: 800;
        font-size:16px;
        text-align: center;
        line-height: 52px;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
footer{
    position: relative;
    min-height: 340px;
    width: 100%;
    background-color:#ffffff;
    .lg-footer{
        img{
            max-height: 90px;
        }
    }
    .footer-detail{
        .footer-detail-l{
            ul{
                padding:0;
                li{
                    margin-bottom: 10px;
                    font-size: 15px;
                    list-style-type: none;
                    color:#333333;
                    font-weight: 700;
                    a{
                        color: #4F4F4F;
                    }
                    .link-mail{
                        a{
                            font-weight: 500;
                        }
                    }
                }
            }
            ul:last-child{
                li{
                    line-height:32px;
                }
            }
        }
        .footer-detail-r{
            padding-left:40px;
            .h-ft-r{
                font-size:18px;
                line-height:27px;
                color:#E12A41;
                font-weight: 700;
            }
            ul{
                padding:0;
                li{
                    padding:5px 0;
                    font-size:16px;
                    list-style-type: none;
                    color:#333333;
                    line-height: 22px;
                    font-weight: 500;
                    a{
                        color: #4F4F4F;
                    }
                    .link-mail{
                        a{
                            font-weight: 500;
                        }
                    }
                    .list-social{
                        li{
                            margin-left: 20px;
                            i{
                                font-size: 40px;
                                margin-right: 10px;
                                color: #4f4f4f;
                                cursor: pointer;
                            }
                        }
                        li:first-child{
                            margin-left:0;
                        }
                        .bi-facebook:hover{
                            color:#1877F2;
                        }
                        .bi-youtube:hover{
                            color:#CD201F;
                        }
                        .bi-linkedin:hover{
                            color:#0A66C2;
                        }
                        .bi-instagram:hover{
                            background: -webkit-linear-gradient( 45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80 );
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }   
  
}
.action{
    position:fixed;
    align-items: center;
    bottom:10px;
    right:10px;
    .back-on-top{
        cursor: pointer;
        margin-bottom: 10px;
    }
    .support-mes{
        cursor: pointer;
    }
}  
.coppy-right{
    background-color: #ffffff;
    text-align: center;
    font-size:14px;
    font-weight: 500;
}
@media screen and (max-width: 1199px) {
    .fixed{
        padding:0 16px;
    }
    footer{
        padding:0 16px;
    }
    .general-information{
        padding:20px 16px;
    }
    .text-banner{
        padding:0 16px;
    }
}
@media screen and (max-width: 991px) {
   .header-section{
       display:none !important;
   }
   .header-section-mobile{
       display:block;
   }
    .menu-tab-mobile{
        display:block !important; 
    
    }
    header {
        .h-r {
            display: none;
        }
        .menu-mobile{
            .nav__bars-btn{
                margin-right: 20px;
                display:block !important;
            }
        }
    }
    .introduction-mobile{
        display:block !important;
    }
    .introduction{
        display:none !important;
    }
    .map{
        h3{
            padding-left: 16px;
        }
    }
    
    .banner-introduction{
        height: 300px;
    }
    .btn-trial-banner{
        display:none !important;
    }
    .btn-trial-mobile{
        display:block !important;
    }
   
    
}

@media screen and (max-width: 767.98px){
    .general-information{
        .inner{
            display:block !important;
        }
        .g-info-l{
            margin:20px 0;
        }
        .g-info-r{
            margin-bottom: 20px;
        }
    }
    .service-care{
        margin-top:20px !important;
    }
    footer {
        padding-bottom: 20px;

        .footer-detail {
            display: block !important;

            .footer-detail-l {
                display: block !important;

                ul {
                    display: flex !important;
                }
            }

            .footer-detail-r {
                padding: 0;

                ul {
                    li {
                        line-height: 30px;
                    }
                }
            }
        }
    }

    footer {
        padding: 0 16px;
    }
  
   
    .main-section .header-section .more-menu li {
        margin-right: 0 !important;
    }
    .contact{      
        .inner{
            display:block !important;
            .info-contact{
                margin-bottom:60px;
            }
            .box-contact{
                max-width: 400px !important;
            }
        }
    }

    .pagination{
        display:none !important;
    }
    .pagination-mb{
        padding:10px 0;
        display: block !important;
    }
    .text-content {
        .tilte-content {
            font-size: 16px !important;
        }
        .description {
            display:none !important;
        }
    }
   
}
@media screen and (max-width: 576px) {
    .banner-introduction{
        height: 250px;
    }
    .footer-text-content{
        .name-author {
            font-size:10px !important;
            margin-left: 10px;
            color: #828282;
            font-weight: 400;
        }
    }
    .contact .inner{
        padding: 10px 0 !important;
    }
    .article-content .slider{
        display:block !important;
    }
    .r-p-content{
        a{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .text-banner{
        .big-b{
            font-size:50px !important;      
        } 
        .text-normal{
            font-size: 16px !important;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
        }
        .banner-cal-intro{
            .h-title{
                font-size:16px !important;
            }
            .circle{
                width: 44px !important;
                height: 44px !important;
            }
            h6{
                font-size:14px !important;
            }
        }
        .btn-trial-banner{
            height:52px;
            width: 220px;
            background: #EFBC08;
            border-radius: 8px;
            display:block;
            margin:50px auto;
            color:#ffffff;
            font-weight: 800;
            font-size:16px;
            text-align: center;
            line-height: 52px;
            cursor: pointer;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}
@media screen and (max-width:340px){
    .banner-introduction{
        height: 200px;
    }
    .text-content{
        .h-cate{
            a{
                font-size:10px !important;
                line-height:20px !important;
            }
        }
        .tilte-content{
            a{
                font-size:12px !important;
            }
        }
    }
}